<div class="example-container">
  <mat-toolbar color="primary">
    <button (click)="snav.toggle()" mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Senac News</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'over'" fixedTopGap="56">
      <mat-nav-list>
        <button mat-raised-button color="primary">
          <a href="/manager">Gerenciar Notícias</a>
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div *ngFor="let news of newsList">
        <div class="column">
          <mat-card class="example-card">
            <mat-card-title>{{news.title}}</mat-card-title>
            <mat-card-subtitle>{{news.caption}}</mat-card-subtitle>
            <img mat-card-image src="{{news.image}}">
            <mat-card-content>
              <p>{{news.body}}</p>
            </mat-card-content>
            <mat-card-subtitle>
              {{news.publishDate | date: 'dd/MM/yyyy'}} - {{news.author}}
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
